# macOS
.DS_Store

# VS Code
.vscode/
.history/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build & misc
dist/
build/
coverage/
.cache/

# OS / archives
Thumbs.db
*.zip
*.tar
*.tar.gz